.cover {
  text-align: center;
  padding: 3.5% 0 0;
  background-color: #171e3a;
}

.mainimg {
  width: 100vw;
}

.iithtxt {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.arrowdown {
  width: 3.8125rem;
  height: 3.75rem;
  flex-shrink: 0;
  margin: 20px 0;
}
