@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");





.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    font-family: Montserrat;
  }

  .aa{
    display: inline;
    
  }
  
  .event {
    position: relative;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #f5e4e4;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 5px 0 rgba(139, 134, 134, 0.2), 0 6px 20px 0 rgba(180, 180, 180, 0.19);

  }
  
  .event-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .event h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .event p {
    color: #666;
  }
  

  .event:not(:last-child)::after {
    
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
  }
  